<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Login</title>
</head>

<body>

<p>Login</p>
<form method="post">
	<label id="Label1"></label>
	<p>username</p>
</form>
<form method="post">
	<label id="Label2"></label>
	<p><input name="username" type="text" /></p>
	<p>password&nbsp;</p>
	<input name="Password" type="password" /></form>
<form method="post">
	<input name="login" type="button" onclick="window.location.href = 'index.html'" value="login" /></form>
</body>

</html>
