<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body class="login">
  <!-- NavBar Header -->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Districts</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Login <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="signup.html">Register</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
    </header>
    <!-- Main Content -->
    <section class="main-content">
        <div class="container">
            <div class="form-section">
                <h2 class="form-title">Register</h2>
                <!-- Sign Up Form -->
                <form class="register" action="" method="get">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                      </div>
                      <input type="text" name="first_name" required class="form-control" placeholder="First Name">
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                      </div>
                      <input type="text" name="last_name" required class="form-control" placeholder="Last Name">
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-unlock-alt"></i></div>
                      </div>
                      <input type="password" name="password" required class="form-control" placeholder="Password">
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-unlock-alt"></i></div>
                      </div>
                      <input type="confirm_password" name="password" required class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                      </div>
                      <input type="confirm_password" name="email" required class="form-control" placeholder="Email">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </section>
    <footer id="footer">
        
    </footer>
    <div id="cookie"></div>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>
</html>